.primary-nav{
    padding-top: 10px;

    @mixin atMedium{
        padding-top: 0;
    }

    &--pull-right{
        @mixin atMedium{
            float: right;
        }
    }

    &--text-align-when-small{
        text-align: center;
    }

    ul{
        margin: 0;
        padding: 0;
        @mixin clearFix;
    }

    li{
        list-style: none;
        display: inline-block;
        padding-right: 20px;
        @mixin atMedium{
            float:left;
        }
    }

    li:last-child{
        padding-right: 0;
        @mixin atMedium{
            padding-right: 20px;
        }
    }

    a{
        color: $white;
        display: block;
        text-decoration: none;  
        font-weight: 300;
        font-size: .8rem;
        padding: 5px 8px;
        background-color: rgba($mainBlue, .5);

        @mixin atMedium{
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
        }
    }
}